.navbaritens{
    border-radius: 12px;
    transition: background-color 0.5s;
}
.navbaritens:hover{
    background-color: #006769;
}
.navbar-green-hills nav{
    height: 12vh;
    font-size: 1.2rem;
    background-color: #5C8F78 ;
    
}
.sidebar .offcanvas-body{
    background-color: #5C8F78; 
    color: white; 
}

.sidebar .offcanvas-header {
    background-color: #006769; 
    border-bottom: 1px solid white; 
}
.navbar-brand{
    margin: 0px ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}
