/* Estilo do botão de download pdf */
.btn-pdf{
    background-color: #5C8F78;
    color: white;
    width: 15vw; 
    min-width: 250px;
    height: 50px; 
    border: 0px solid #000;
    border-radius: 50px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.5s;
}

/* Estilo do botão de download pdf quando o mouse estiver em cima */
.btn-pdf:hover{
    background-color: #486256;
    color: whitesmoke;
}

/* Estilo do contêiner "conteiner-relatorio" */
.conteiner-relatorio{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Estilo geral da tabela dentro de "tabela-conteiner" */
.tabela-conteiner table{
    width: 88%;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* Estilo das linhas da tabela */
.tabela-conteiner tr, td, th{
    background-color: #5C8F78 !important;
    border: 0.5px solid #000 !important;
    color: white !important;
    width: 9.3vw ;
    height: 80px ;
    font-size: 1.2vw ;
    font-weight: bold;
    text-align: center 

}

/* Padding dentro das células da tabela */
td, th{
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
}

/* Estilo do corpo da página */
body{
    background-color: whitesmoke;
}

/* Estilo do contêiner ".caixa-senso" */
.caixa-senso{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5C8F78;
    border: 0px solid #5C8F78;
    color: white;
    width: 12vw;
    height: 100px;
    font-size: 1vw;
    font-weight: bold;
    border: 0.5px solid #000;
    
}

/* Estilo geral do contêiner de relatório */
.conteiner-relatorio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Estilo da seção de conteúdo do gráfico estilo área */
.conteiner-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo da tabela no contêiner "tabela-conteiner" */
.tabela-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

/* Estilo do contêiner da tabela */
.conteiner-tabela{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Estilo das células de cabeçalho da tabela dentro de "tabela-conteiner" */
.tabela-conteiner th{
    padding-top: 15px;
    background-color: #1F7334;
    color: white;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 1px solid black;
}

/* Estilo das células de dados da tabela dentro de "tabela-conteiner" */
.tabela-conteiner td{
    padding-top: 15px;
    text-align: center;
    border: 1px solid black ;
    background-color: white;
}

/* Estilo das sections para deixar centralizado" */
section{
    width:100%;
    margin-bottom: 12px;
    padding: 0 6%;
}

/* Regras de estilo quando a largura da tela é menor que 600px */
@media (max-width: 1200px) {

    /*mudança no grafico de area em relação ao tamanho horizontal*/
    .conteiner-area{
        width: 100%;
    }

    /*mudança na tabela em relação margin inferior*/
    .tabela-conteiner{
        margin-bottom: 25px;
    }

    /*mudança na tabela em relação a fonte do texto dentro de "tr,td,th"*/
    tr, td, th{
        font-size: 1rem;
    }
    /*mudança na centralização do section*/
    section{
        padding: 0 2%s;
    }

}